.korzina__cards {
    margin: 50px 0;
}

body {
    font-family: "Roboto";
}

.table__saved__products {
    border-collapse: collapse;
    border: 1px solid #d8d8d8;
    width: 100%;
    text-align: center;
}

.table__saved__products th,
.table__saved__products td {
    border: 1px solid #d8d8d8;
    padding: 20px;
}

.table__saved__products th {
    font-size: 25px;
}

table tbody tr td {
    font-size: 18px;
}

table tbody tr td:nth-child(2) {
    height: 100px;
    width: 200px;
}

.image {
    width: 200px;
    height: 100px;
    object-fit: cover;
    object-position: center center;
}

.delete__btn__saved__product{
    color: #fff;
    background-color: red;
    padding: 5px 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}